<h1>ERROR: {{errtype}}</h1>
<form action="/auth" method="POST" target="dummyframe" class="contact-form">
  <input type="text" name="token" placeholder="Token">
  <input type="submit" value="Send">
</form>
