<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="icon" type="image/png" href="https://gamemaster2030.github.io/Automator.png"/>
    <link rel="shortcut icon" type="image/png" href="https://gamemaster2030.github.io/Automator.png"/>
  </head>

  <body>
    {{{body}}}
  </body>

</html>
